* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    min-height: 100vh;
    
  }
  
  .main {
    width: 100%;
    height: 100vh;
    margin-top: 5px;
    z-index: -1;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  /*third Section*/
  .best {
    width: 100%;
    height: 90vh;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    padding: 5rem;
   
}
.best h1 {
  font-size: 4rem;
  color: #696565;
  margin-bottom: 50px;
}
.best > div {
    display: flex;
    justify-content: center;
}

.bold {
    font-weight: 700;
}

.best .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
    padding: 1rem;
}

.best img {
    width: 80%;
}
.best h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 45px;
  color: #5e5a5a;
}
@media screen and (max-width:940px) {
    .best {
        margin: 1rem 0;
    }

    .best > div p {
        margin: 1rem;
        font-size: 1rem;
    }

    .best .container {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }
}

@media screen and (max-width: 478px) {
    .best > div p {
        margin: 1rem .5rem;
    }
}

